.picture {
    width: 60%;
    height: 70%;
    float: left;
    left: 55px;
    position: relative;
    border: 3px outset rgba(26, 141, 211, 0.72);
    bottom: -12px;
}

#bio {
    width: 113%;
    margin-top: 35%;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    justify-content: center;
}

.picture2 {
    width: 102%;
    height: 80%;
    float: left;
    right: 2px;
    position: relative;
    border: 3px outset rgba(26, 141, 211, 0.72);
}

.picCard {
    width: 30%;
    border: 15px inset rgba(26, 141, 211, 0.72);
    border-radius: 21px;
    background-image: linear-gradient(#ff00cc, #333399);
    color: aliceblue;
    right: 6%;
}

.picCard2 {
    width: 30%;
    left: 6%;
    border: 15px inset rgba(26, 141, 211, 0.72);
    border-radius: 21px;
    background-image: linear-gradient(#ff00cc, #333399);
    color: aliceblue;
}

body {
    background-image: url(https://i.pinimg.com/originals/42/d0/0c/42d00cfaf2cedabc7eac44e94d390c49.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}